.chevron-up {
    position: fixed; /* Permite que esté siempre visible */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la parte derecha */
    background-color: #1F41BB; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50%; /* Forma redondeada */
    padding: 10px; /* Espaciado interno */
    font-size: 24px; /* Tamaño del texto */
    text-align: center; /* Centrar texto */
    display: none; /* Ocultar por defecto */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
    transition: background-color 0.3s; /* Transición suave para el color */
}

.chevron-up:hover {
    background-color: #0E2B6D; /* Cambiar color al pasar el mouse */
}
