.galeria_asociados p {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    color: #292929;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.galeria img {
    max-width: 300px;
    object-fit: contain;
}

.galeria {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    padding-bottom: 120px;
    align-items: center;
    margin: 0 auto;
}