* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Video on header*/
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 820px;
    object-fit: cover; 
    z-index: -1;
}

/* Content on top of the video */
.content {
    z-index: 1;
}

.map {
    text-align: center;
    padding-top: 50px;
}

html {
    scroll-behavior: smooth;
}